<div class="page-header">
  <%= link_to advertisers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_advertiser_path(@advertiser), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show advertiser</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @advertiser.name %></dd>

</dl>
