<main role="main">

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <% @offer.each do |offer| %>
      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
          <h1 style="color:red;text-align:center;font-size: 12px"><%= offer.premium ? "Premium" : "" %> </h1>

            <h5 class="card-title"><%= offer.advertiser.name %></h5>
            <p class="card-text"><%= offer.description %></p>
            <%= link_to 'Shop Now', offer.url, class: 'btn btn-primary'  %>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <% end %>
    </div><!-- /.row -->

  </div><!-- /.container -->

</main>
