<%= form_for(@offer, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @offer.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h4>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :advertiser_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :advertiser_id, Advertiser.all.collect{|a| [a.name, a.id]}, {}, required:true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_at, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :start_at, order: [ :day, :month, :year], class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_at, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :end_at, include_blank: true, order: [ :day, :month, :year], class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :premium, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :premium, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
