<div class="page-header">
  <%= link_to new_offer_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Offer
  <% end %>
  <h1>Listing Offers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Advertiser</th>
            <th>Url</th>
            <th>Description</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Premium</th>
            <th>State</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @offers) do |offer| %>
            <td><%= offer.advertiser.name %></td>
            <td><%= offer.url %></td>
            <td><%= offer.description %></td>
            <td><%= offer.start_at %></td>
            <td><%= offer.end_at %></td>
            <td><%= offer.premium %></td>
            <td><%= offer.state ? 'enabled' : 'disabled' %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <% button_state = !offer.state ? 'enable' : 'disable' %>
        <td><%= link_to "#{button_state}", change_offer_state_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
