<div class="page-header">
  <%= link_to offers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_offer_path(@offer), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show offer</h1>
</div>

<dl class="dl-horizontal">

  <dt>Advertiser:</dt>
  <dd><%= @offer.advertiser.name %></dd>

  <dt>Url:</dt>
  <dd><%= @offer.url %></dd>

  <dt>Description:</dt>
  <dd><%= @offer.description %></dd>

  <dt>Start at:</dt>
  <dd><%= @offer.start_at %></dd>

  <dt>End at:</dt>
  <dd><%= @offer.end_at %></dd>

  <dt>Premium:</dt>
  <dd><%= @offer.premium %></dd>

  <dt>State:</dt>
  <dd><%= @offer.state %></dd>

</dl>
